---
title: TrivaaCons Építőipari Kft.
---
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ page.permalink }}css/trivaa.css">

  <title>{{ page.title }}</title>
  {% include favicon.html %}
</head>

<body>
  <!-- Navigation bar -->
  {% include nav.html %}

  <!-- Jumbotron -->
  {% include jumbotron.html %}

  <!-- Content -->
  <div class="container">
    <div class="row">
      <div class="col">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc sic expositum dissimile est superiori. Hoc autem loco
          tantum explicemus haec honesta, quae dico, praeterquam quod nosmet ipsos diligamus, praeterea suapte natura per se
          esse expetenda. Duo Reges: constructio interrete. Non prorsus, inquit, omnisque, qui sine dolore sint, in voluptate,
          et ea quidem summa, esse dico. De vacuitate doloris eadem sententia erit. Sed utrum hortandus es nobis, Luci, inquit,
          an etiam tua sponte propensus es? Nisi autem rerum natura perspecta erit, nullo modo poterimus sensuum iudicia defendere.
          Nam nec vir bonus ac iustus haberi debet qui, ne malum habeat, abstinet se ab iniuria. </p>
  
        <p>Quis enim confidit semper sibi illud stabile et firmum permansurum, quod fragile et caducum sit? Verum esto: verbum
          ipsum voluptatis non habet dignitatem, nec nos fortasse intellegimus. Nec tamen ullo modo summum pecudis bonum et
          hominis idem mihi videri potest. Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse; Addebat etiam se
          in legem Voconiam iuratum contra eam facere non audere, nisi aliter amicis videretur. In qua si nihil est praeter
          rationem, sit in una virtute finis bonorum; Nobis aliter videtur, recte secusne, postea; Et hercule-fatendum est
          enim, quod sentio -mirabilis est apud illos contextus rerum. Verba tu fingas et ea dicas, quae non sentias? </p>
  
        <p>Causa autem fuit huc veniendi ut quosdam hinc libros promerem. Hoc foedus facere si potuerunt, faciant etiam illud,
          ut aequitatem, modestiam, virtutes omnes per se ipsas gratis diligant. Eodem modo is enim tibi nemo dabit, quod,
          expetendum sit, id esse laudabile. De ingenio eius in his disputationibus, non de moribus quaeritur. Nunc ita separantur,
          ut disiuncta sint, quo nihil potest esse perversius. Illis videtur, qui illud non dubitant bonum dicere -; </p>
  
        <p>Nam adhuc, meo fortasse vitio, quid ego quaeram non perspicis. Tecum optime, deinde etiam cum mediocri amico. Hoc est
          non modo cor non habere, sed ne palatum quidem. Nihil opus est exemplis hoc facere longius. Hoc ipsum elegantius
          poni meliusque potuit. Sed audiamus ipsum: Compensabatur, inquit, tamen cum his omnibus animi laetitia, quam capiebam
          memoria rationum inventorumque nostrorum. </p>
  
        <p>Erat enim res aperta. Quos qui tollunt et nihil posse percipi dicunt, ii remotis sensibus ne id ipsum quidem expedire
          possunt, quod disserunt. Peccata autem partim esse tolerabilia, partim nullo modo, propterea quod alia peccata plures,
          alia pauciores quasi numeros officii praeterirent. Aristoteles, Xenocrates, tota illa familia non dabit, quippe qui
          valitudinem, vires, divitias, gloriam, multa alia bona esse dicant, laudabilia non dicant. Non ego tecum iam ita
          iocabor, ut isdem his de rebus, cum L. In eo enim positum est id, quod dicimus esse expetendum. Tu enim ista lenius,
          hic Stoicorum more nos vexat. </p>
  
        <p>Atqui eorum nihil est eius generis, ut sit in fine atque extrerno bonorum. Quamquam in hac divisione rem ipsam prorsus
          probo, elegantiam desidero. Beatus sibi videtur esse moriens. Quid affers, cur Thorius, cur Caius Postumius, cur
          omnium horum magister, Orata, non iucundissime vixerit? Chrysippus autem exponens differentias animantium ait alias
          earum corpore excellere, alias autem animo, non nullas valere utraque re; Quod idem cum vestri faciant, non satis
          magnam tribuunt inventoribus gratiam. Sic est igitur locutus: Quantus ornatus in Peripateticorum disciplina sit satis
          est a me, ut brevissime potuit, paulo ante dictum. Dicam, inquam, et quidem discendi causa magis, quam quo te aut
          Epicurum reprehensum velim. </p>
  
        <p>Polycratem Samium felicem appellabant. Hoc dictum in una re latissime patet, ut in omnibus factis re, non teste moveamur.
          Tanti autem aderant vesicae et torminum morbi, ut nihil ad eorum magnitudinem posset accedere. Cum id quoque, ut
          cupiebat, audivisset, evelli iussit eam, qua erat transfixus, hastam. Tantum dico, magis fuisse vestrum agere Epicuri
          diem natalem, quam illius testamento cavere ut ageretur. Pauca mutat vel plura sane; Vives, inquit Aristo, magnifice
          atque praeclare, quod erit cumque visum ages, numquam angere, numquam cupies, numquam timebis. Scripsit enim et multis
          saepe verbis et breviter arteque in eo libro, quem modo nominavi, mortem nihil ad nos pertinere. Praetereo multos,
          in bis doctum hominem et suavem, Hieronymum, quem iam cur Peripateticum appellem nescio. Deque his rebus satis multa
          in nostris de re publica libris sunt dicta a Laelio. </p>
  
        <p>Neque enim civitas in seditione beata esse potest nec in discordia dominorum domus; Non quam nostram quidem, inquit
          Pomponius iocans; Neque solum ea communia, verum etiam paria esse dixerunt. Quo modo autem optimum, si bonum praeterea
          nullum est? Atque adhuc ea dixi, causa cur Zenoni non fuisset, quam ob rem a superiorum auctoritate discederet. Erillus
          autem ad scientiam omnia revocans unum quoddam bonum vidit, sed nec optimum nec quo vita gubernari possit. Quae cum
          dixisset paulumque institisset, Quid est? Quod si ita se habeat, non possit beatam praestare vitam sapientia. Deinde
          disputat, quod cuiusque generis animantium statui deceat extremum. Quid affers, cur Thorius, cur Caius Postumius,
          cur omnium horum magister, Orata, non iucundissime vixerit? </p>
      </div>
    </div>
  </div>

  <!-- Activities -->
  {% include activities.html %}

  <!-- Script includes -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>
