<a name="activities"></a>
<div class="mw-100 trivaa-content trivaa-foreground-content2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 d-flex flex-column">
                <div class="text-center">
                    <div class="trivaa-activity-icon trivaa-activity1 rounded-circle"></div>
                    <h4 class="my-3">{{ site.data.texts.activity1 }}</h4>
                </div>
                <p>{{ site.data.texts.activity1_desc1 }}</p>
                <p class="mb-auto">{{ site.data.texts.activity1_desc2 }}</p>
                <div class="text-center">
                    <a class="btn btn-primary trivaa-mail-icon"
                        href="mailto:trivaacons@gmail.com?subject={{ site.data.texts.contact1_subject }} - {{ site.data.texts.activity1 }}"
                        role="button">
                        <span class="font-weight-bold">{{ site.data.texts.contact1 }}</span>
                    </a>
                </div>
                <hr class="w-100 d-block d-lg-none">
            </div>

            <div class="col-lg-4 d-flex flex-column">
                <div class="text-center">
                    <div class="trivaa-activity-icon trivaa-activity2 rounded-circle"></div>
                    <h4 class="my-3">{{ site.data.texts.activity2 }}</h4>
                </div>
                <p>{{ site.data.texts.activity2_desc1 }}</p>
                <p class="mb-auto">{{ site.data.texts.activity2_desc2 }}</p>
                <div class="text-center">
                    <a class="btn btn-primary trivaa-mail-icon"
                        href="mailto:trivaacons@gmail.com?subject={{ site.data.texts.contact2_subject }} - {{ site.data.texts.activity2 }}"
                        role="button">
                        <span class="font-weight-bold">{{ site.data.texts.contact2 }}</span>
                    </a>
                </div>
                <hr class="w-100 d-block d-lg-none">
            </div>

            <div class="col-lg-4 d-flex flex-column">
                <div class="text-center">
                    <div class="trivaa-activity-icon trivaa-activity3 rounded-circle"></div>
                    <h4 class="my-3">{{ site.data.texts.activity3 }}</h4>
                </div>
                <p>{{ site.data.texts.activity3_desc1 }}</p>
                <p class="mb-auto">{{ site.data.texts.activity3_desc2 }}</p>
                <div class="text-center">
                    <a class="btn btn-primary trivaa-mail-icon"
                        href="mailto:trivaacons@gmail.com?subject={{ site.data.texts.contact3_subject }} - {{ site.data.texts.activity3 }}"
                        role="button">
                        <span class="font-weight-bold">{{ site.data.texts.contact3 }}</span>
                    </a>
                </div>
                <hr class="w-100 d-block d-lg-none">
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-4 ml-auto d-flex flex-column">
                <div class="text-center">
                    <div class="trivaa-activity-icon trivaa-activity4 rounded-circle"></div>
                    <h4 class="my-3">{{ site.data.texts.activity4 }}</h4>
                </div>
                <p>{{ site.data.texts.activity4_desc1 }}</p>
                <p class="mb-auto">{{ site.data.texts.activity4_desc2 }}</p>
                <div class="text-center">
                    <a class="btn btn-primary trivaa-mail-icon"
                        href="mailto:trivaacons@gmail.com?subject={{ site.data.texts.contact4_subject }} - {{ site.data.texts.activity4 }}"
                        role="button">
                        <span class="font-weight-bold">{{ site.data.texts.contact4 }}</span>
                    </a>
                </div>
                <hr class="w-100 d-block d-lg-none">
            </div>
            <div class="col-lg-4 mr-auto d-flex flex-column">
                <div class="text-center">
                    <div class="trivaa-activity-icon trivaa-activity5 rounded-circle"></div>
                    <h4 class="my-3">{{ site.data.texts.activity5 }}</h4>
                </div>
                <p>{{ site.data.texts.activity5_desc1 }}</p>
                <p class="mb-auto">{{ site.data.texts.activity5_desc2 }}</p>
                <div class="text-center">
                    <a class="btn btn-primary trivaa-mail-icon"
                        href="mailto:trivaacons@gmail.com?subject={{ site.data.texts.contact5_subject }} - {{ site.data.texts.activity5 }}"
                        role="button">
                        <span class="font-weight-bold">{{ site.data.texts.contact5 }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>