<a name="contact-us"></a>
<div class="mw-100 trivaa-content trivaa-foreground-content1">
	<div class="container my-4 trivaa-contacts">
		<div class="row">
			<div class="col-lg-6">
				<div class="text-center">
					<div class="trivaa-contact-icon rounded-circle" style="background-image: url(../img/contact-us/zoltan_kadi.png)"></div>
					<h4 class="my-3">Kádi Zoltán</h4>
					<p>{{ site.data.texts.managing_director }}</p>
					<p><a href="mailto:kadi.zoltan@trivaacons.hu">kadi.zoltan@trivaacons.hu</a></p>
				</div>
				<p></p>
			</div>
			<div class="col-lg-6">
				<div class="text-center">
					<div class="trivaa-contact-icon rounded-circle" style="background-image: url(../img/contact-us/andras_kopacz.png)"></div>
					<h4 class="my-3">Kopacz András</h4>
					<p>{{ site.data.texts.project_manager }}</p>
					<p><a href="mailto:kopacz.andras@trivaacons.hu">kopacz.andras@trivaacons.hu</a></p>
				</div>
				<p></p>
			</div>
		</div>
	</div>
</div>