<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <!-- Logo -->
  <a class="navbar-brand" href="{{ page.permalink }}">
    <img class="trivaa-company-logo-small" src="{{ page.permalink }}img/logo-small.png" alt="logo">
  </a>

  <!-- Markup for the toggler -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#trNavbar" aria-controls="trNavbar" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible menu -->
  <div class="collapse navbar-collapse px-4" id="trNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#about-us">{{ site.data.texts.item_about_us }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#activities">{{ site.data.texts.item_activities }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#references">{{ site.data.texts.item_references }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact-us">{{ site.data.texts.item_contact_us }}</a>
      </li>
    </ul>
  </div>
</nav>