<a name="references"></a>
<div class="mw-100 trivaa-content trivaa-foreground-content3">
	<div class="container">
		<div class="row">
			<form id="referenceFilterForm" class="form-inline w-100 d-flex flex-nowrap justify-content-around">
				{% assign all_years = site.data.references | map: "year" | uniq %}
				<div class="input-group">
					<div class="btn-group" role="group">
						<button id="btnYearFilter" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
							<img class="mr-2" src="{{ page.permalink }}img/calendar.png">
							<span class="align-middle">{{ site.data.texts.all_years }}</span>
						</button>
						<div class="dropdown-menu" aria-labelledby="btnYearFilter">
							<a class="dropdown-item" href="#" data-year="">{{ site.data.texts.all_years }}</a>
							{% for year in all_years %}
								<a class="dropdown-item" href="#" data-year="{{ year }}">{{ year }}</a>
							{% endfor %}
						</div>
					</div>
				</div>

				<div class="input-group d-none d-sm-block">
					<button type="button" class="trivaa-ref-showall btn btn-secondary">
						<img class="mr-2" src="{{ page.permalink }}img/all.png">
						<span class="align-middle">{{ site.data.texts.show_all }}</span>
					</button>
				</div>

				{% assign all_kinds = site.data.references | map: "kind" | uniq %}
				<div class="input-group">
					<div class="btn-group" role="group">
						<button id="btnKindFilter" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
							<img class="mr-2" src="{{ page.permalink }}img/project.png">
							<span class="align-middle">{{ site.data.texts.all_kinds }}</span>
						</button>
						<div class="dropdown-menu" aria-labelledby="btnYearFilter">
							<a class="dropdown-item" href="#" data-kind="">{{ site.data.texts.all_kinds }}</a>
							{% for kind in all_kinds %}
								<a class="dropdown-item" href="#" data-kind="{{ kind }}">{{ site.data.texts.kinds[kind] }}</a>
							{% endfor %}
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="row d-sm-none">
			<form class="form-inline w-100">
				<button type="button" class="trivaa-ref-showall btn btn-secondary mx-auto">
					<img class="mr-2" src="{{ page.permalink }}img/all.png">
					<span class="align-middle">{{ site.data.texts.show_all }}</span>
				</button>
			</form>
		</div>
		<hr/>
		<div class="row">
			<div id="referencesCarousel" class="carousel slide w-100" data-ride="carousel" data-wrap="false">
				<ol class="carousel-indicators"></ol>
				<div class="carousel-inner w-100"></div>
			</div>

			<div id="referencesSource" class="d-none">
				{% for reference in site.data.references %}
					{% capture img_root %}{{ page.permalink }}img/references/{{ reference.year }}-{{ reference.city }}-{{ reference.district }}-{{ reference.kind }}-{{ reference.folder_id }}/{% endcapture %}
					<div class="card trivaa-references mx-2 mx-sm-4" data-year="{{ reference.year }}" data-kind="{{ reference.kind }}">
						<img class="card-img-top" src="{{ img_root }}{{ reference.thumbnail }}">
						<div class="card-body">
							<h5 class="card-title">{{ site.data.texts.kinds[reference.kind] }}</h5>
							<p>
								{{ reference.city }}{% if reference.district %},&nbsp;{{ reference.district }}.&nbsp;{{ site.data.texts.district }}{% endif %}
								({{ reference.year }})
							</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<hr/>
	</div>
</div>
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
	<div class="slides"></div>
	<h3 class="title"></h3>
	<a class="prev">‹</a>
	<a class="next">›</a>
	<a class="close">×</a>
	<a class="play-pause"></a>
	<ol class="indicator"></ol>
</div>